.stack-work
.env
backend.cabal
/secrets
*.swp
.bash_history
frontend/node_modules
frontend/output
frontend/bower_components
frontend/.spago
frontend/.cache
tmp.plan
tf.out
backend/.cache
backend/.local/*
backend/result*
backend/dist
backend/dist-newstyle
backend/.ghc.environment*
result
